html, body, table { font-size: 11px; color: #373737; font-family: Tahoma,Arial,Helvetica,clean,sans-serif; }
a { color: #1184AF; }
p { margin-bottom: 10px; }
ul li { padding-left: 10px; }
h1 { font-size: 18px; margin-bottom: 20px; }
h2 { font-size: 16px; margin-bottom: 10px; }
.input { color: #373737; border: 1px solid #AEAA9B; background-color: #F3F3F3; }
.field { color: #373737; border: 1px solid #AEAA9B; padding: 2px; }

.small { font-size: 11px; }

.w100 { width: 100%; }
.wh100 { width: 100%; height: 100%; }
.pt60 { padding-top: 60px; }
.pr2 { padding-right: 2px; }
.h20 { height: 20px; overflow: hidden; }
.h10 { height: 10px; overflow: hidden; }

table.login { background: url("/admin/image/autorize-fon.gif") no-repeat; width: 315px; height: 160px; color: #111111; }
.login input { margin: 4px 0 0; width: 132px; height: 22px; }
.btnAuth { width: 66px !important; height: 22px !important; }
    
.app-page-nav { margin: 0; padding: 0; list-style: none; overflow: hidden; }
.app-page-nav li { display: inline; float: left; margin-left: 10px; padding: 0; }
.app-page-nav li:first-child { padding: 0; margin-left: 0; }

div.wrapper { height: auto !important; margin: 0pt auto -70px; min-height: 100%; height: 100%; width: 100%; position: relative; }
div.header { height: 151px; margin: 0 auto; background: url("/admin/image/admin-logo.png") no-repeat 20px top; }
div.content { margin: 0 auto; }
div.footer, div.push { height: 70px; }
div.footer { position: relative; }
.topBgr { background: url("/admin/image/admin-bgr.png") repeat-x left top; }
.topText { margin-top: 12px; }
.logout { width: 32px; background: url("/admin/image/i-exit.png") no-repeat left top; padding-top: 30px; }
.menuBgr { background: url("/admin/image/m-bgr.gif") repeat-x left top; }
.menuBgrSel { background: url("/admin/image/m-a-bgr.gif") repeat-x left top; color: #fff; }
.underMenu { background: url("/admin/image/m-shadow-bgr.gif") repeat-x left top; height: 4px; overflow: hidden; }
.leftM, .rightM { width: 4px; height: 63px; background: url("/admin/image/m-bgr.gif") repeat-x left top; }
.leftMSel { width: 4px; height: 63px; background: url("/admin/image/m-a1.gif") no-repeat left top; }
.rightMSel { width: 4px; height: 63px; background: url("/admin/image/m-a2.gif") no-repeat left top; }
.navDeliv { font-size: 14px; }
.smBgr { background: #3792A4 url("/admin/image/submenu-deliver.gif") repeat-x left bottom; }
.smBgrLast { background: #3792A4; }
.submenu {left:-14px; top:100%; z-index: 10; min-width:100%; text-align:left;}
.submenu a { color: #fff; text-decoration: none; z-index: 10; display:block;}
.submenu a:hover { color: #fff; text-decoration: none; z-index: 10; background-color:#1B7A90;}
.filterBgr { background-color: #B5D7DC; z-index: 5; }
.app-menu-item{ position: relative; width: 100%; height: 59px; }

.copyBgr { background: url("/admin/image/bottom-bgr.gif") repeat-x left top; }
.copyL { height: 50px; background: url("/admin/image/bottom-logo.gif") no-repeat left top; }
.copyR { height: 50px; background: url("/admin/image/bottom-right.gif") no-repeat right top; }
.copyR P { text-align: right; position: relative; top: 25px; }
.copyR P A { color: #373737; text-decoration: none; }

.table th, .table td { border: 1px solid #DCDBDB; padding: 3px 5px; }
th { background-color: #787E7F; color: #fff; font-weight: normal; }
th A { color: #fff; }
th th, .order td { border: none !important; }
.td1, .td1 td { background-color: #ffffff; }
.td2, .td2 td { background-color: #EAEAEA; }

.app-page-nav { margin: 0; padding: 0; list-style: none; overflow: hidden; }
.app-page-nav li { display: inline; float: left; margin-left: 10px; padding: 0; }
.app-page-nav li:first-child { padding: 0; margin-left: 0; }
.menuMess {
	top: 0;
	right: 0;
	color: #ff0000;
	font-weight: bold;
}