//Размеры

sizes.vertical-step = 9px       // - вертикальный ритм

colors.default = #000
colors.white = #fff
colors.text = #000
colors.link = #197db7
colors.menu = #23648a
colors.about = #DAE8F0
colors.foot = #3B3B3B
colors.active = #4aa105
colors.btn = #c03639
colors.maps = #c5ff60

fonts.pt-sans = font-stack("PT Sans", sans-serif)
fonts.exo = font-stack("Exo", sans-serif)

// Шрифтовые стили:
//
text.sans-body = {
  font-family: fonts.pt-sans,
  font-size: 14px,
  line-height: 17px
}

webfonts.pt-sans-regular = {
  font-family: "PT Sans",
  font-file: "ptsans/ptsans.%s",
  font-style: normal,
  font-weight: normal
}

webfonts.pt-sans-bold = {
  font-family: "PT Sans",
  font-file: "ptsans/ptsansbold.%s",
  font-style: normal,
  font-weight: bold
}


//EXO
webfonts.exo-regular = {
  font-family: "Exo",
  font-file: "exo/exo.%s",
  font-style: normal,
  font-weight: normal
}

webfonts.exo-bold = {
  font-family: "Exo",
  font-file: "exo/exobold.%s",
  font-style: normal,
  font-weight: bold
}

webfonts.exo-light = {
  font-family: "Exo",
  font-file: "exo/exolight.%s",
  font-style: normal,
  font-weight: 300
}